
footer {
    background-color: rgb(216, 33, 33);
    padding: 10px 10px 0 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    
}

.card-f {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

.btn-reserva{
    width: 80%;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    

}

.c1{
    margin-bottom: 15px;
}

.enlaces-redes-footer a{
    text-decoration: none;
    color: black;
}

.enlaces-redes-footer a:hover{
    background-color: rgba(255, 255, 255, 0.324);
}



/* Media Queries */

/* // Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px)  { 
    .btn-reserva{
        width: 30%;
        padding: 2px;
        position: relative;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 50px;

    }
    .enlaces-redes-footer a{
        font-size: 20px;
    }
    .enlaces-redes-footer{
        font-size: 20px;
    }
    .nosotros-footer{
        text-align-last: center;
    }
}
/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }
/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
